
* div{
  line-height: 30px;
}
body{
    width: 960px;
    margin: auto;
  
    justify-content:center;
    background-color: navajowhite;
    font-family:'Courier New', Courier, monospace;
    
}
main{
    display:block;
}
header {
  
  align-items: left;
  justify-content: space-between;
align-items: center;
 display: flex; 

}
.header-logo{
    width: 100px;
  
  float: left;
}

h1 {
  letter-spacing: 0.1em;
  font-style: italic;
}
* p {
    line-height: 20px;
  } 


  
 

footer{
  text-align: center;
    
}


body main ol {
  color:darkred;
  font-weight: bold;  
}
