
* div{
  line-height: 30px;
}
body{
    width: 80%;
    margin: auto;
  
    justify-content:center;
    background-color: navajowhite;
    font-family:'Courier New', Courier, monospace;
    
}
main{
    display:block;
}
header {
  
  align-items: left;
  justify-content: space-between;
align-items: center;
 display: flex; 

}
.header-logo{
    width: 100px;
  
  float: left;
}

h1 {
  letter-spacing: 0.1em;
  font-style: italic;
}

  .n1, .n2, .n3, .n4 {
border-style: dotted;    
text-align: center;
    border-radius: 70%;
    padding: 10px;
    font-style: italic;
  font-weight: 700;
    
  }
 

footer{
  text-align: center;
  font-weight: bold;
    
}


 .intro:first-letter {
  font-size: 150%;
  font-weight: bold;
  
}

.intro{
  font-weight: bold;
}
body main ol {
  color:darkred;
  font-weight: bold;  
}
