body{
    width: 960px;
    margin: auto;
    justify-content: center;
    background-color: navajowhite;
    font-family:'Courier New', Courier, monospace;
    
}
main{
    justify-content: space-around;
}
header {

 width: 100%;
 text-align: center;  
 display: block;
 margin: auto; 
}
.header-logo{
    width: 100px;
  display: block;
  margin: auto;
}
p {
    line-height: 20px;
  } 

  main p:nth-child(odd) {
    color:maroon;
    border-radius: 10px;
    border-style: solid;
    padding: 5px;
  }
span{
    text-transform:uppercase;
}
    
footer{
  text-align: center;
    position: fixed;
}


